SERVER_PORT=8087
DB_URL=jdbc:mysql://mysql:3306/codesync
DB_USERNAME=<set-db-username>
DB_PASSWORD=<set-db-password>
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

RABBITMQ_HOST=<set-rabbitmq-host>
RABBITMQ_PORT=5671
RABBITMQ_USERNAME=<set-rabbitmq-username>
RABBITMQ_PASSWORD=<set-rabbitmq-password>
RABBITMQ_VHOST=<set-rabbitmq-vhost>
RABBITMQ_SSL_ENABLED=true

JWT_SECRET=<set-strong-jwt-secret>
EUREKA_DEFAULT_ZONE=http://<set-eureka-username>:<set-eureka-password>@eureka-service:8761/eureka/

