SERVER_PORT=8085
DB_URL=jdbc:mysql://mysql:3306/codesync
DB_USERNAME=<set-db-username>
DB_PASSWORD=<set-db-password>
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

RABBITMQ_HOST=<set-rabbitmq-host>
RABBITMQ_PORT=5671
RABBITMQ_USERNAME=<set-rabbitmq-username>
RABBITMQ_PASSWORD=<set-rabbitmq-password>
RABBITMQ_VHOST=<set-rabbitmq-vhost>
RABBITMQ_SSL_ENABLED=true

EUREKA_DEFAULT_ZONE=http://<set-eureka-username>:<set-eureka-password>@eureka-service:8761/eureka/

SANDBOX_PROVIDER=docker
SANDBOX_MAX_EXECUTION_SECONDS=10
SANDBOX_MAX_MEMORY_MB=256
SANDBOX_NETWORK_DISABLED=true
SANDBOX_PISTON_URL=https://emkc.org/api/v2/piston
DOCKER_HOST=tcp://localhost:2375

JDOODLE_CLIENT_ID=
JDOODLE_CLIENT_SECRET=

