SERVER_PORT=8086
DB_URL=jdbc:mysql://mysql:3306/codesync
DB_USERNAME=<set-db-username>
DB_PASSWORD=<set-db-password>
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JWT_SECRET=<set-strong-jwt-secret>
EUREKA_DEFAULT_ZONE=http://<set-eureka-username>:<set-eureka-password>@eureka-service:8761/eureka/

